@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    
}

/* Blurred animated glowing background */
body::before{
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    background: rgba(255, 255, 255, 0.4);
    filter: blur(120px);
    top: -100px;
    right: -50px;
    animation: float 6s infinite ease-in-out alternate;
}

body::after{
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    background: rgba(255, 255, 255, 0.35);
    filter: blur(120px);
    bottom: -80px;
    left: -60px;
    animation: float 7s infinite ease-in-out alternate-reverse;
}

@keyframes float {
    0% { transform: translateY(0px); }
    100% { transform: translateY(40px); }
}

#container{
    width: 360px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    text-align: center;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    color: white;
    margin-bottom: 20px
}

h1{
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    color: #f0f0f0;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}

input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.3);
}

input::placeholder {
    color: #e5e5e5;
}

button{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 12px;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.3);
    transition: 0.2s;
}

#credit{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    padding: 1% 1.5%;
}

button:hover {
    background: rgba(255,255,255,0.35);
}

.result {
    margin-top: 20px;
}

#bmi-value {
    font-size: 28px;
    font-weight: bold;
}

#bmi-status {
    margin-top: 6px;
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#credit a{
    text-decoration: none;
    color: #f0f0f0;
    transition: 0.2s;
}

#credit:hover {
    background: rgba(255,255,255,0.25);
}


@media (max-width: 600px) {
    body::before,
    body::after {
        display: none;
    }

    #container{
    width: 90%;
    padding: 5%;}

    h1{
    margin-bottom: 15px;
    }

    button{
    width: 60%;
    margin-top: 10px;
    }   

#credit{
    border-radius: 10px;
    padding: 2% 1.5%;
}
}
